<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless"> Contact Me </h3>
            <br>
            {% unless site.email == %}
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Send me an Email
            </a>
            <a id="contact-button" href="https://shitwolfymakes.com/consulting"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Hire Me
            </a>
            {% endunless %}
            {% unless site.twitter_username == %}
            <a id="contact-button" href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-twitter"></i>Reach me on Twitter
            </a>
            {% endunless %}
        </div>
    </div>
</section>
